In [1]:
import sqlite3
import os

In [2]:
import os
import sqlite3

db_path = "crypto.db"

# Example: closing connection first
# conn.close() must be called if you have an open connection

if os.path.exists(db_path):
    try:
        os.remove(db_path)
        print("Database file deleted")
    except PermissionError:
        print("Database file is in use. Close all connections before deleting.")
else:
    print("Database file does not exist")

Database file deleted

In [3]:
db_path = "crypto.db"

if os.path.exists(db_path):
    os.remove(db_path)
    print("databsae file deleted")
else:
    print("database file does not exist")

database file does not exist

In [4]:
#create or connect to a database file
conn = sqlite3.connect(db_path)

# create a cursor object to execute SQL commands
cursor = conn.cursor()

#create a table
cursor.execute("DROP TABLE IF EXISTS coins")
cursor.execute('''
CREATE TABLE coins (
    coin_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    symbol TEXT NOT NULL UNIQUE,
    price REAL,
    market_cap REAL,
    last_updated TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
''')

# save (commit) the changes
conn.commit()

print("Table 'coins' created successfully.")

Table 'coins' created successfully.

## inserting data

In [5]:
# insert single record
cursor.execute('''
INSERT INTO coins (name, symbol, price, market_cap)
VALUES ('Bitcoin', 'BTC', 50000.95, 950000000000)
''')


# insert multiple records
coins = [
    ('Ethereum', 'ETH', 4000, 470000000000),
    ('Cardano', 'ADA', 2.34, 70000000000),
    ('Solana', 'SOL', 150.98, 47000000000)
]

cursor.executemany('''
INSERT INTO coins (name, symbol, price, market_cap)
VALUES (?, ?, ?, ?)
''', coins)

conn.commit()

In [6]:
# get all coins
cursor.execute("select * from coins")
all_coins = cursor.fetchall()
print("All coins:", all_coins)

All coins: [(1, 'Bitcoin', 'BTC', 50000.95, 950000000000.0, '2025-08-13 08:21:41'), (2, 'Ethereum', 'ETH', 4000.0, 470000000000.0, '2025-08-13 08:21:41'), (3, 'Cardano', 'ADA', 2.34, 70000000000.0, '2025-08-13 08:21:41'), (4, 'Solana', 'SOL', 150.98, 47000000000.0, '2025-08-13 08:21:41')]

In [7]:
# get one coin
cursor.execute("SELECT * FROM coins WHERE symbol = 'BTC'")
bitcoin = cursor.fetchone()
print("Bitcoin data:", bitcoin)

Bitcoin data: (1, 'Bitcoin', 'BTC', 50000.95, 950000000000.0, '2025-08-13 08:21:41')

In [8]:
#get specific column with a condition
cursor.execute("SELECT name, price FROM coins WHERE price > 10 ")
expensive_coins = cursor.fetchall()
print("Expensive coin data:", expensive_coins)

Expensive coin data: [('Bitcoin', 50000.95), ('Ethereum', 4000.0), ('Solana', 150.98)]

In [9]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('crypto.db')
cursor = conn.cursor()

# Function to add new coins
def add_new_coins(new_coins):
    cursor.executemany('''
    INSERT INTO coins (name, symbol, price, market_cap)
    VALUES (?, ?, ?, ?)
    ''', new_coins)
    conn.commit()
    print(f"{len(new_coins)} coins inserted successfully.")

# Example: Adding new coins
new_entries = [
    ('Polkadot', 'DOT', 25.75, 28000000000),
    ('Avalanche', 'AVAX', 85.20, 23000000000),
    ('Chainlink', 'LINK', 30.55, 14000000000)
]

add_new_coins(new_entries)

# Close connection when done

3 coins inserted successfully.

In [10]:
# get all coins
cursor.execute("SELECT * FROM coins")
all_coins = cursor.fetchall()
print("All coins:", all_coins)

All coins: [(1, 'Bitcoin', 'BTC', 50000.95, 950000000000.0, '2025-08-13 08:21:41'), (2, 'Ethereum', 'ETH', 4000.0, 470000000000.0, '2025-08-13 08:21:41'), (3, 'Cardano', 'ADA', 2.34, 70000000000.0, '2025-08-13 08:21:41'), (4, 'Solana', 'SOL', 150.98, 47000000000.0, '2025-08-13 08:21:41'), (5, 'Polkadot', 'DOT', 25.75, 28000000000.0, '2025-08-13 08:21:41'), (6, 'Avalanche', 'AVAX', 85.2, 23000000000.0, '2025-08-13 08:21:41'), (7, 'Chainlink', 'LINK', 30.55, 14000000000.0, '2025-08-13 08:21:41')]

In [18]:
# Insert into prices table
cursor.executemany('''
    INSERT INTO coins (coin_id, date, price)
    VALUES (?, ?, ?)
''', price_records)

OperationalError: table coins has no column named date

In [16]:
#Insert 5 daily price records for each coin into the prices table.
import sqlite3
from datetime import datetime, timedelta
import random

# Connect to database
conn = sqlite3.connect('crypto.db')
cursor = conn.cursor()

# Fetch all coins from the coins table
cursor.execute("SELECT symbol, name, price FROM coins")
coins = cursor.fetchall()

# Generate and insert 5 daily prices for each coin
today = datetime.now().date()
price_records = []

for coin_id, coin_name, base_price in coins:
    for days_ago in range(5):
        date = today - timedelta(days=days_ago)
        # Simulate slight price changes (+/- up to 5%)
        price = round(base_price * (1 + random.uniform(-0.05, 0.05)), 2)
        price_records.append((coin_id, date.isoformat(), price))

# Insert into prices table
cursor.executemany('''
    INSERT INTO coins (coin_id, date, price)
    VALUES (?, ?, ?)
''', price_records)

conn.commit()
print(f"Inserted {len(price_records)} daily price records.")

conn.close()

OperationalError: table coins has no column named date

In [12]:
import pandas as pd

with sqlite3.connect(db_path) as conn:
    df = pd.read_sql_query("SELECT * FROM coins", conn)

print("DataFrame from SQLite database:")
print(df)

DataFrame from SQLite database:
   coin_id       name symbol     price    market_cap         last_updated
0        1    Bitcoin    BTC  50000.95  9.500000e+11  2025-08-13 08:21:41
1        2   Ethereum    ETH   4000.00  4.700000e+11  2025-08-13 08:21:41
2        3    Cardano    ADA      2.34  7.000000e+10  2025-08-13 08:21:41
3        4     Solana    SOL    150.98  4.700000e+10  2025-08-13 08:21:41
4        5   Polkadot    DOT     25.75  2.800000e+10  2025-08-13 08:21:41
5        6  Avalanche   AVAX     85.20  2.300000e+10  2025-08-13 08:21:41
6        7  Chainlink   LINK     30.55  1.400000e+10  2025-08-13 08:21:41

In [22]:
import sqlite3
from datetime import datetime, timedelta
import random

# Connect to database
conn = sqlite3.connect('crypto.db')
cursor = conn.cursor()

# Fetch all coins with their IDs
cursor.execute("SELECT coin_id, name, price FROM coins")
coins = cursor.fetchall()

# Generate and insert 5 daily prices for each coin
today = datetime.now().date()
price_records = []

for coin_id, coin_name, base_price in coins:
    for days_ago in range(5):
        date = today - timedelta(days=days_ago)
        price = round(base_price * (1 + random.uniform(-0.05, 0.05)), 2)
        price_records.append((coin_id, date.isoformat(), price))

# Insert into prices table
cursor.executemany('''
    INSERT INTO coins (coin_id, last_updated, price)
    VALUES (?, ?, ?)
''', price_records)

conn.commit()
print(f"Inserted {len(price_records)} daily price records.")

conn.close()

IntegrityError: NOT NULL constraint failed: coins.name

## updating and deleting